# dependencies for build.py
pyyaml
nbconvert
nbformat
traitlets

# dependencies for docs conversion
sphinx
sphinx_rtd_theme

# dependencies for extra checks
linkchecker==10.*

# extra dependencies required by specific notebooks
# used by notebooks in Examples/Pecos/
pecos>=0.2.0

# used by notebooks in Examples/SurrMod/FlowsheetOptimization
# pinning to latest stable version as of 9/29/2022
tensorflow==2.10.1
protobuf==3.19.5

# editable dependencies to be installed during setup
--editable .

# this should have at least one blank line
