sphinx
sphinx_rtd_theme
nbformat
nbconvert
jupyter_contrib_nbextensions
pytest
# Pyomo from Git
git+https://github.com/PyUtilib/pyutilib
git+https://github.com/pyomo/pyomo.git@IDAES
# idaes (PSE)
git+https://github.com/idaes/idaes-pse
