# dependencies for build.py
pyyaml
nbconvert
nbformat
traitlets

# dependencies for docs conversion
sphinx
sphinx_rtd_theme

# dependencies for extra checks
linkchecker==10.*

# extra dependencies required by specific notebooks
# used by notebooks in Examples/Pecos/
pecos>=0.2.0

# IDAES: install from current release
idaes-pse @ https://github.com/IDAES/idaes-pse/archive/1.12.0.zip
