# IDAES: install from current main
idaes-pse[prerelease] @ https://github.com/IDAES/idaes-pse/archive/main.zip

# extra dependencies required by specific notebooks
# used by notebooks in Examples/Pecos/
pecos>=0.2.0
